# Deep Learning
tensorflow==2.15.0

# Manipulação de dados
numpy==1.24.3
pandas==2.0.3

# Processamento de imagens
opencv-python==4.8.0
Pillow==10.0.1
scikit-image==0.21.0

# Machine Learning
scikit-learn==1.3.0
xgboost==2.0.0

# Visualização
matplotlib==3.7.1
seaborn==0.13.0

# Utilitários
tqdm==4.65.0
joblib==1.3.2
